body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td  
				margin 0 
				padding 0 
 
body, button, input, select, textarea  
							color #454545   
							  
body 
	font:18px/1.5 "Helvetica Neue",
	Helvetica,Arial,
	"Microsoft Yahei",
	"Hiragino Sans GB",
	"Heiti SC",
	"WenQuanYi Micro Hei",
	sans-serif 
	
body 
	word-wrap break-word  
	word-break break-all  
	position  relative    
  
	button, input, select, textarea, h1, h2, h3, h4, h5, h6  
			 									font-size 100%     
			 			
	button, input, select, textarea, label  
								vertical-align middle  
								outline none  
								cursor  pointer 
											   
	img  
		vertical-align middle  
		border none  
		display inline-block 
		   
	ul 
		list-style  none 
		list-style-position inside 
		list-style-type georgian 
	 
	a  
		text-decoration none   
		vertical-align baseline  
		cursor pointer  
	   
	table 
		border-collapse collapse  
		border-spacing 0 
		   
	    
	  